# Python cache
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Python compiled files
*.pyc

# Files
notebook/heart_cleaned.csv
notebook/heart.csv
notebook/models_performance.png
notebook/threshold_comparison.png
heart-disease-risk-prediction.pdf