# Python cache
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Python compiled files
*.pyc

# Files
heart_cleaned.csv
heart.csv
models_performance.png
threshold_comparison.png